
.compSideBarMenu .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
  
.compSideBarMenu .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}
  
.compSideBarMenu .bi {
    vertical-align: -.125em;
    fill: currentColor;
}
  
.compSideBarMenu .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
  
.compSideBarMenu .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Customizacion */
  
.compSideBarMenu .feather {
    width: 16px;
    height: 16px;
}
  
/** Sidebar*/
  
.compSideBarMenu .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
}

.compSideBarMenu .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.compSideBarMenu .sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
  
.compSideBarMenu .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}
  
.compSideBarMenu .sidebar .nav-link.active {
    color: #2470dc;
}
  
.compSideBarMenu .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
}
  
.compSideBarMenu .sidebar-heading {
    font-size: .75rem;
}